<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <title>Zoom Links</title>
</head>
<body>
    <div id = "mainArea">
        <div id = "animationArea"></div>
        <div>
            <h2 id = "messageBox"></h2>
            <select id="selectionBox">
                <option value=""></option>
            </select>
        </div>
        <button class="interactionButton" id = "cancelButton">Cancelar</button>
        <button class="interactionButton" id = "copyButton">Copiar Link</button>
        <button class="interactionButton" id = "confirmButton">Aceptar</button>     
        <button class="navigationButton" id ="closeButton"></button>
    </div>
    <script>
        require("../renderer/renderer.js")
    </script>
</body>
</html>